@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/WorkSans-VariableFont_wght.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {
    /* Colores */
  --color-primary: #09f;
  --color-primary-light: #ceecff;
  --color-primary-dark: rgb(0, 22, 83);

  /* Breakpoints */
  --breakpoint-xs: 350px;

  /* Tipografía */
  --font-sans: 'Work Sans', sans -serif;
}

.social-button {
    @apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-105 transition-transform;
}
